 .footer-frase{ 

background-color: var(--text-amarillo);

}

.footer-info{
    padding: 15px;
}

.footer-text{
    font-size: 48px;
    color: #013565;
}

.footer-info .color{
    color: white;
}

@media (max-width: 900px){

    .footer-text{
        text-align: center;
        font-size: 28px;
    }
    
    .footer-info{
        padding: 10px;
    }
}
