 .footer-frase{ 

background-color: var(--text-amarillo);

}

.footer-info{
    padding: 15px;
}

.footer-text{
    font-size: 48px;
    color: #013565;
}

.footer-info .color{
    color: white;
}


