.servicios-frase{ 

    background-color: var(--text-amarillo);
    
    }
    
    .servicios-frase-info{
        padding: 15px;
    }
    
    .servicios-frase-text{
        font-size: 48px;
        color: #013565;
        text-align: center;
        font-weight: 800;
    }

    .footer-info .color{
        color: white;
    }    
    
    @media (max-width: 900px){
    
        .servicios-frase-text{
            text-align: center;
            font-size: 28px;
        }
        
        .footer-info{
            padding: 10px;
        }
    }
    