.servicios-4{

    background-image: url(../img/Servicios/bg_1.png);
    
    }
    
    .servicios-4-info{
    
    display: flex;
    
    }

    .raya{
        display: inline-block;
    }
    
    .servicios-4-text{
    
    font-size: 22px;
    margin: 40px 60px;
    line-height: 1.5;
    color: #013565;
    
    }
    
    .img-4{
    
    height: 500px;
    width: 530px;
    
    }
    
    .servicios-4-title{
    
    margin: 0 60px;
    color: #013565;
    font-size: 65px;

    }

    .servicios-4-izq{

        padding-right: 30px;

    }
    
    @media (max-width: 900px) {

        .servicios-4{ 
           
        background-image: url(../img/Servicios/bg_1.png);
                    
        }
                    
        .servicios-4-info{
                    
        display: block;
        text-align: center;                 
        }
            
        .servicios-4-title{
        
            margin: 20px 10px;
            font-size: 40px;
            
        
            }    
    
        .servicios-4-text{
            
        font-size: 17px;
        margin: 30px 30px;
        
        line-height: 1.5;
                
                }
                
        .img-4{
            
        height: 350px;
        width: 370px;
       
                }
    
        .servicios-4-izq{
    
        text-align: center;
    
        }
    
    }