.second-section{

    background-image: url(../img/Second-section/bg1.png);
   
}

.second-text{

    margin-top: 60px;
    margin-right: 700px;
    line-height: 1.5;
    text-align: justify;
    
}

@media (max-width: 900px) {

    .second-text{

        margin: 25px 15px;
        line-height: 1.5;
        text-align: justify;
        
    }

    .second-section{

        background-image: url(../img/Second-section/bg_1.png);
       
    }

}


